body {
    margin : 0;
    padding: 0;
}
/*Initialize*/
#clock {
color: #aaaaaa;
font-weight:900;
}
#streamlist {
float: left;
}
#userpanel {
float: right;
}
#registerpanel {
float: right;
}
#loginpanel {
float: right;
}
ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
	text-align: center; 
	background-color: #2d2928; 
	list-style-type: none; 
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #aaaaaa;
	background-color: #2d2928; 
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
